@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate&display=swap');
/* @font-face {
    font-family: "yeezus";
    src: url("/fonts/FutureFnt-Regular.woff2") format('woff');
}; */
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: black;
	font-size: 25px;
	line-height: 1.5;
	resize: none;
}
body {
	background: lightslategray;
	margin: 3%;
}
textarea {
	margin: 9px;
	font-family: 'DotGothic16', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'DotGothic16', sans-serif;
  	letter-spacing: 2px;
}
.title {
	background: whitesmoke;
	border-right: 2px solid gray;
	display: flex;
	justify-content: center;
	margin-top: -20px;
	margin-bottom: 0px;
	border-radius: 15px;
}
.title h1 {
	color: black;
}
.jacksonLogo {
	display: flex;
}
.jacksonLogoImage {
	margin-top: 40px;
	margin-left: -10px;
	width: 60px;
	height: 60px;
}
.navBin {
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	background: white;
	margin-top: -30px;
}
.post {
	background: white;
	margin: 0;
}
.post p, .post img {
	margin: 0;
	background: white;
}
.navBar{
	color:black;
	text-align: right;
	margin-right: 15px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover { 
	text-decoration: none;
} 
a:active { 
	text-decoration: none;
}
.container {
	border:2px solid red;
}
main {
	background: whitesmoke;
}
.bin {
	display: flex;
}
.firstBox {
	width: 60%;
	border-bottom: 2px solid gray;
}
.post {
	margin-left: 15px;
	height:200px;
}
.post__image{
	width: 240px;
}
.secondBox {
	width: 40%;
	height: 100%;
	border-right: 2px solid gray;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: column;
}

.filler {
	border-right: 2px solid gray;
	display: flex;
	justify-content: center;
	width: 600px;
}
.gamesButton img {
	margin-top: 25px;
	width: 166px;
	display: flex;
	align-items: center;
}
.musicPlayerBin {
	background: rgba(241, 243, 244, 1);
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	height: 240px;
	display: flex;
	align-items: right;
}
.playlist {
	border-right: 2px solid gray;
}
.playlistImage {
	height: 240px;
}
iframe {
	border-right: 2px solid gray;
}
label {
	margin-left: 10px;
	font-size: 30px;
	font-family: 'Fascinate', cursive;
	/* font-family: 'yeezus'; */
}
footer {
	background: white;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
footer p {
	font-size: 25px;
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 15px;
}


