@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: black;
	font-size: 25px;
	line-height: 1.5;
	resize: none;
	width: 96.5%;
}
body {
	background: lightslategray;
	margin: 3%;
}
textarea {
	margin: 9px;
	font-family: 'DotGothic16', sans-serif;
}
h3,h4,h5,h6 {
	font-family: 'Fascinate', cursive;
  	letter-spacing: 2px;
}
p {
	font-family: 'DotGothic16', sans-serif;
}
.title {
	background: whitesmoke;
	border-right: 2px solid gray;
	display: flex;
	justify-content: center;
	margin-top: -20px;
	margin-bottom: 0px;
	border-radius: 15px;
}
.title h1 {
	color: black;
	font-family: 'DotGothic16', sans-serif;
}
.jacksonLogo {
	display: flex;
}
.jacksonLogoImage {
	margin-top: 40px;
	margin-left: -10px;
	width: 60px;
	height: 60px;
}
.navBin {
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	background: white;
	margin-top: -30px;
}
.post {
	/* background: white; */
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: 20px;
	margin-left: 15px;
	background: white;
}
.post__title{
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0;
}
.post p, .post img {
	margin: 0;
	/* background: white; */
	padding-left: 20px;
	/* border-left: 1px solid gray; */
}
.navBar{
	color:black;
	text-align: right;
	margin-right: 15px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover { 
	text-decoration: none;
} 
a:active { 
	text-decoration: none;
}
.container {
	border:2px solid red;
}
main {
	background: whitesmoke;
}
.bin {
	display: flex;
}
.firstBox {
	width: 55%;
	border-right: 2px solid gray;
	height: 100%;
}
.search__item p {
	margin-left: 20px;
	display: inline;
}
#yearSelection {
	width: fit-content;
	font-family: 'DotGothic16', sans-serif;
}
.firstBox h2{
	font-family: 'DotGothic16', sans-serif;
}
.secondBox {
	width: 45%;
	height: 100%;
	border-right: 2px solid gray;
	border-left: 2px solid gray;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.secondBox input {
	margin: 0%;
	margin-left: 9px;
	width: fit-content;
	font-family: 'DotGothic16', sans-serif;
}
.secondBox select {
	width: 79%;
	margin-left: 9px;
	margin-top: 0%;
	font-family: 'DotGothic16', sans-serif;
}
#conceptsCovered {
	margin: 0;
	margin-left: 9px;
}
.form {
	display: flex;
	flex-direction: column;
}
.form article{
	margin-bottom: 0;
}
button {
	width: 100%;
	font-family: 'DotGothic16', sans-serif;
	font-size: 35px;
}

.musicPlayerBin {
	background: rgba(241, 243, 244, 1);
	border-bottom: 2px solid gray;
	height: 320px;
	display: flex;
	align-items: right;
	width: 99.85%;
	border-top: 2px solid gray;
}
.musicPlayerBin img {
	border-right: 2px solid gray;
}
.filler {
	width: 120px;
	border-right: 2px solid gray;
}
.playlistImage {
	height: 320px;
}
iframe {
	border-right: 2px solid gray;
}
label {
	margin-left: 10px;
	font-size: 30px;
	font-family: 'Fascinate', cursive;
}
footer {
	background: white;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
footer p {
	font-size: 25px;
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 15px;
}


