@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: black;
	font-size: 25px;
	line-height: 1.5;
	resize: none;
}
body {
	background: lightslategray;
}
textarea {
	margin: 9px;
	font-family: 'DotGothic16', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'DotGothic16', sans-serif;
  	letter-spacing: 2px;
}
.title {
	background: whitesmoke;
	border-right: 2px solid gray;
	display: flex;
	justify-content: center;
}
.title h1 {
	color: black;
}
.jacksonLogo {
	display: flex;
}
.jacksonLogoImage {
	margin-top: 45px;
	margin-left: -10px;
	width: 60px;
	height: 60px;
}
.navBin {
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	background: white;
}
.navBar{
	color:black;
	text-align: right;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover { 
	text-decoration: none;
} 
a:active { 
	text-decoration: none;
}
.container {
	border:2px solid red;
}
main {
	background: whitesmoke;
}
.bin {
	display: flex;
}
.firstBox {
	width: 60%;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}
.secondBox {
	width: 40%;
	height: 100%;
	border-right: 2px solid gray;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: column;
}
label {
	margin-left: 20px;
	font-size: 22px;
	font-family: 'Fascinate', cursive;
}
footer {
	border: 2px solid yellow;
}
footer p {
	font-size: 25px;
	text-align: right;
	margin-top: 0px;
}
footer audio {
	margin-bottom: -30px;
	padding-left: 20px;
}

