@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.title {
	border: 2px solid darkorange;
	display: flex;
	justify-content: center;
}
.title h1 {
	margin-bottom: 0;
}
.jacksonLogoImage {
	width: 60px;
}
.navBin {
	border: 2px solid purple;
}
.navBar{
	border:springgreen;
	color:black;
	text-align: right;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover { 
	text-decoration: none;
} 
a:active { 
	text-decoration: none;
}
body {
	border: 2px solid green;
}
.container {
	border:2px solid red;
}
.bin {
	border:2px solid blue;
	display: flex;
}
.firstBox {
	width: 60%;
	border: 2px solid darkred;
}
.secondBox {
	width: 40%;
	height: 100%;
	border: 2px solid skyblue;
}
footer {
	text-align: right;
	border: 2px solid yellow;
}
footer p {
	margin-top: 0px;
	margin-bottom: -5px;
}

